* {
    margin: 0;
    padding: 0;
    font: 400 22px 'DM Sans';
    font-style: normal;
}

body {
    width: 1120px;
    margin: auto;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.img-logo {
    background-image: url(../img/hs.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 48px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1120px;
    top: 0;
    padding: 15px 0;
}

header nav {
    display: flex;
    font: 500 22px 'DM Sans';
}

header nav p {
    color: #000000;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

main {
    margin-top: 140px;
}

section {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.contact-form h1 {
    font: 500 60px 'DM Sans';
}

.contact-form p {
    color: #606060;
}

.contact-form input {
    width: 676px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px; 
    padding-left: 22px;
}

.btn {
    background: #000000;
    border-radius: 5px;
    width: 170px;
    height: 50px;
}

.btn p {
    font: 700 25px 'DM Sans';
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin: auto;
    max-width: 400px;
}

.contact-info p {
    color: #606060;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}

.signature {
    color: #2429AF;
}

.link-ld-tg {
    display: flex;
    justify-content: space-between;
}

.link-ld-tg p{
    font-weight: 500;
}

.link-ld-tg .link-tg {
    padding-left: 30px;
}

