* {
    margin: 0;
    padding: 0;
    font: 400 22px 'DM Sans';
    font-style: normal;
}

body {
    width: 1120px;
    margin: auto;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.img-logo {
    background-image: url(../img/hs.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 48px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1120px;
    top: 0;
    padding: 15px 0;
    background-color: #E5E5E5;
}

header nav {
    display: flex;
    font: 500 22px 'DM Sans';
}

header nav p {
    color: #000000;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.main-left-side h1{
    width: 450px;
    font-weight: 500;
    font-size: 60px;
}

.arrow {
    background-image: url(../img/arrow.svg);
    width: 33px;
    height: 38px;
}

.main-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.main p {
    font-size: 32px;
    color: #606060;
    margin-top: 60px;
}

.projects {
    margin-top: 120px;
}

.project-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}

.project-left-side h2 {
    font: 500 24px 'DM Sans';
    margin-bottom: 25px;
}

.project-left-side .stacks {
    color: #606060;
    margin-top: 50px;
}

.project-img {
    background-image: url(../img/thumbnail.svg);
    width: 640px;
    height: 360px;
}

.container-project {
    display: flex;
    justify-content: space-between;
}

.link {
    border-bottom: 2px solid black;
    width: 290px;
}

.hr {
    width: 1120px;
    height: 2px;
    background-color: black;
    margin: 110px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}

.signature {
    color: #2429AF;
}

.link-ld-tg {
    display: flex;
    justify-content: space-between;
}

.link-ld-tg p{
    font-weight: 500;
}

.link-ld-tg .link-tg {
    padding-left: 30px;
}

@media screen and (max-width: 400px) {
    * {
        font-size: 18px;
    }

    body {
        max-width: 400px;
        margin: 20px 20px;
    }

    header {
        display: block;
        max-width: 400px;
        margin: 10px;
    }

    header nav {
        margin-top: 20px;
    }

    .project-img {
        display: none;
    }

    .main {
        display: block;
    }

    .arrow {
        display: none;
    }

    .main-left-side {
        height: 150px;
    }

    .projects {
        margin: 0 auto;
    }

    .hr {
        max-width: 400px;
        margin: 40px 0;
    }

    .main-left-side h1 {
        font-size: 40px;
    }

    .main p {
        font-size: 20px;
        margin: 0;
        max-width: 300px;
    }

    .container-project {
        margin-top: 30px;
    }

    .link {
        margin-top: 20px;
        max-width: 240px;
    }

    footer {
        display: block;
    }

    .link-ld-tg {
        display: block;
        margin-top: 20px;
    }

    .link-ld-tg .link-tg {
        padding: 10px 0;
    }
}
